# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# Virtual environments
.venv/
src/venv/
venv/

# Dataset + outputs (inside src)
src/train/
src/test/
src/kaggle/

# Training history
*.npy

# PDF assignment doc
*.pdf

# LaTeX
*.tex
